body{
    background-color: #ffffff;
}
#navbarResponsive  navbar-nav li a,
#navbarResponsive navbar-nav nav-item nav-link {
    color: #495057 !important; 
}

.navbar-dark .navbar-brand {
    color:#495057;
}



.navbar-dark .navbar-nav .nav-link {
    color:#495057;
}
